* {
	margin: 0;
	padding: 0;
}

.zhuti-2 {
	margin: 0 auto;
	width: 1100px;
}

.zhuti-2 li {
	list-style: none;
	color: #808080;
	font-size: 14px;
	margin-top: 10px;
}

.zhuti-2 h4 {
	font-weight: 200;
}

.zi-2 p {
	color: #808080;
	font-size: 14px;
	margin-top: 40px;
}

.box_1 {
	position: relative;
	margin-top: 50px;
}

.box_1 h5 {
	position: absolute;
	top: 20px;
	left: 15px;
}

.box_1 h4 {
	position: absolute;
	top: 4px;
	left: 15px;
}

.box_1 li {
	margin-top: 40px;
}

.box_2 {
	position: relative;
	margin-top: 50px;
}

.box_2 h5 {
	position: absolute;
	top: 20px;
	left: 15px;
}

.box_2 h4 {
	position: absolute;
	top: 4px;
	left: 15px;
}

.box_2 li {
	margin-top: 40px;
}

.box_3 {
	position: relative;
	margin-top: 50px;
}

.box_3 h5 {
	position: absolute;
	top: 20px;
	left: 15px;
}

.box_3 h4 {
	position: absolute;
	top: 4px;
	left: 15px;
}

.box_3 li {
	margin-top: 40px;
}

.box_4 {
	position: relative;
	margin-top: 50px;
	height: 380px;
}

.box_4 h5 {
	position: absolute;
	top: 20px;
	left: 15px;
}

.box_4 h4 {
	position: absolute;
	top: 4px;
	left: 15px;
}

.box_4 li {
	margin-top: 40px;
}